/*font-size for all typography*/
body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: 10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* will only show once*/
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

/*will only show once*/
.element {
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.orange {
    background-color: orange;

}

.green {
  background-color: green;

}

.blue {
  background-color: blue;

}
